body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(209, 218, 226);
}

input {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    border: none;
}

button {
    background-color:rgb(240, 240, 240);
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

label {
    font-weight: bold;
}

.loginform {
    background-color: rgb(225, 225, 225);
    padding: 50px;
    margin: auto;
    width: 40%;
    text-align: center;
}

.logincontent {
    background-color: rgb(160, 160, 160);
    padding: 30px;
}

.recoverform {
    background-color: rgb(225, 225, 225);
    padding: 50px;
    margin: auto;
    width: 40%;
    text-align: center;
}

.recovercontent {
    background-color: rgb(160, 160, 160);
    padding: 30px;
}

.registerform {
    background-color: rgb(225, 225, 225);
    padding: 50px;
    margin: auto;
    width: 40%;
    text-align: center;
}

.registercontent {
    background-color: rgb(160, 160, 160);
    padding: 30px;
}

.mainmenu {
    background-color: rgb(225, 225, 225);
    padding: 50px;
    margin: auto;
    width: 40%;
    text-align: center;
}

.menucontent {
    background-color: rgb(160, 160, 160);
    padding: 30px;
}

table, th, td {
    padding: 10px;
    border: 1px solid black;
    background-color: whitesmoke;
}
