<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="style.css" rel="stylesheet"/>
</head>
<body>
    <div class="loginform">
        <form>
            <div class="logincontent">
                <h2>Login</h2>
                <label for="logincpf">CPF:</label>
                <input type="text" id="logincpf" placeholder="CPF"><br>

                <label for="loginpassword">Senha:</label>
                <input type="password" id="loginpassword" placeholder="Senha"><br><br>

                <button type="submit">Login</button>
            </div>
        </form><br>
        <a href="/recover"><button>Recuperar Senha</button></a>
        <a href="/register"><button>Cadastrar</button></a>

        <a href="/menu"><button>MENUPRINCIPAL</button></a>
    </div>
</body>
</html>