<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <label for="logincpf">CPF</label>
        <input type="text" id="logincpf" placeholder="CPF">
        <label for="loginpassword">CPF</label>
        <input type="password" id="loginpassword" placeholder="Password">
        <button type="submit">Login</button>
    </form>
    <a href="/recover"><button>Recuperar Senha</button></a>
    <a href="/register"><button>Cadastrar</button></a>
</body>
</html>