<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="style.css" rel="stylesheet"/>
</head>
<body>
    <div class="loginform">
        <form method="POST" th:object="${loginobject}" th:action="@{login}">
            <div class="logincontent">
                <h2>Login</h2>
                <label for="cnpj">CNPJ:</label>
                <input type="text" id="cnpj" th:field="*{cnpj}" placeholder="CNPJ" required><br>

                <label for="senha">Senha:</label>
                <input type="password" id="senha" th:field="*{senha}" placeholder="Senha" required><br><br>

                <button type="submit">Login</button>
            </div>
        </form><br>
        <a href="/recover"><button>Recuperar Senha</button></a>
        <a href="/register"><button>Cadastrar</button></a>

<!--        <a href="/menu"><button>MENUPRINCIPAL</button></a>-->
    </div>
</body>
</html>